<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<ObjectDefinition>  <information>
    <configType>cli</configType>
    <createTemplateId/>
    <createTemplateObject/>
    <defaultDisplay>false</defaultDisplay>
    <description/>
    <displayField>object_id</displayField>
    <dynamic>false</dynamic>
    <group>Network</group>
    <icon>/images/eclipseIcons/page_obj.gif</icon>
    <importIfMandatoryPresent>false</importIfMandatoryPresent>
    <importonce>false</importonce>
    <importrank>1</importrank>
    <maxInstances>0</maxInstances>
    <name>Routes</name>
    <order>10000</order>
    <relatedObjects/>
    <reorderinstances>false</reorderinstances>
    <sortascending>true</sortascending>
    <sortauto>true</sortauto>
    <sortnumerical>true</sortnumerical>
    <sortvariable>params._order</sortvariable>
    <visibility>5</visibility>
  </information>  <variables frozen="0">
    <variable displayName="id" displayOrder="0" maxLength="100" name="params.object_id" startIncrement="0" type="AutoIncrement" visible="false"/>
    <variable displayName="Rout IP" displayOrder="1" maxLength="100" name="params.RoutIP" startIncrement="0" type="String"/>
    <variable displayName="Route Interface" displayOrder="2" maxLength="100" name="params.RouteInterface" startIncrement="0" type="String"/>
    <variable displayName="Gateway" displayOrder="3" maxLength="100" name="params.Gateway" startIncrement="0" type="String"/>
  </variables>  <example>
    <content>set route 0.0.0.0/0 interface ethernet0/0 gateway 10.30.19.254
</content>
  </example>
<command name="IMPORT">
    <operation>get conf | include "set route"</operation>
    <parser>
      <section>
        <regexp>@set route (?&lt;object_id&gt;(?&lt;RoutIP&gt;\d+\.\d+\.\d+\.\d+/\d+))\s+interface\s+(?&lt;RouteInterface&gt;\S+)\s+gateway\s+(?&lt;Gateway&gt;\S+)@</regexp>
      </section>
      <lines/>
    </parser>
    <post_template/>
  </command>
  <command name="CREATE">
    <operation>set route {$params.RoutIP} interface {$params.RouteInterface} gateway {$params.Gateway}
</operation>
  </command>
  <command name="DELETE">
    <operation>unset route {$Routes.$object_id.RoutIP} interface {$Routes.$object_id.RouteInterface} gateway {$Routes.$object_id.Gateway}
</operation>
  </command>
</ObjectDefinition>
