ForceType application/x-httpd-php
php_value memory_limit 512M
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^/]+) index.php [PT,QSA,L]
RewriteBase /Nal/index.php
