{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}

{% block modal-body-right %}
  <h3>{% trans "Description:" %}</h3>
  <p>{% trans "Create a new service." %}</p>
  
<script type='text/javascript'>
$(".sub_switchable").change(function () {

    service_type = $("#service_type").val();

    $(".switched").each(function (index, switched) {
        var $switched = $(switched),
          data = $switched.data(service_type);

        if (typeof data === "undefined") {
            $switched.closest('.form-group').hide();
        } else {
            $switched.closest('.form-group').show();
        }
    });
}).change();
</script>

{% endblock %}
