<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<ObjectDefinition>  <information>
    <configType>cli</configType>
    <createTemplateId/>
    <createTemplateObject/>
    <defaultDisplay>false</defaultDisplay>
    <description/>
    <displayField>timezone</displayField>
    <dynamic>false</dynamic>
    <group>System</group>
    <icon>/images/eclipseIcons/page_obj.gif</icon>
    <importIfMandatoryPresent>false</importIfMandatoryPresent>
    <importonce>false</importonce>
    <importrank>1</importrank>
    <maxInstances>1</maxInstances>
    <name>Timezone</name>
    <order>10000</order>
    <relatedObjects/>
    <reorderinstances>false</reorderinstances>
    <sortascending>true</sortascending>
    <sortauto>true</sortauto>
    <sortnumerical>true</sortnumerical>
    <sortvariable>params._order</sortvariable>
    <visibility>5</visibility>
  </information>  <variables frozen="0">
    <variable displayName="object_id" displayOrder="0" maxLength="100" name="params.object_id" startIncrement="0" type="AutoIncrement" visible="false"/>
    <variable displayName="timezone" displayOrder="1" maxLength="100" name="params.timezone" startIncrement="0" type="String"/>
  </variables>  <example>
    <content>sho run |  inc clock timezone
clock timezone MSA 4 0
</content>
  </example>
  
<command name="CREATE">
    <operation>!{$params.timezone}
</operation>
  </command>
</ObjectDefinition>
